<%= form_for(@lesson, :url => teachers_path) do |f| %>

  <div class="field">
		<%= f.label :title %><br />
  	<%= f.text_field :title %>
	</div>

  <div class="field">
	  <%= f.label :date %><br />
		<%= date_select("lesson", "date", :use_month_numbers => true,  :start_year => date_today.year,
								:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' },
								:field_name => "Held on:") %>
	</div>
	
	<div class="field">
		<%= f.label :number_of_answers %><br />
		<%= f.collection_select(:lesson, :number_of_answers, @answer_range) %>
	</div>
	
	<div><%= f.submit %></div>
<% end %>

<!-- LATER: number of answers, sick students -->