<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= 'layouts/ie_message' %>
</head>
<body>
	<header class="header_footer">
		<%= render "layouts/header" %>
	</header>
	
	<div id="wrapper">
		<div id="content">
			<h2><%= yield(:heading) %></h2>
			<%= render 'layouts/flash_message' %>
			
			<%= yield %>
			
		</div>
	</div>
	
	<footer class="header_footer">
		<%= render "layouts/footer" %>
	</footer>
	
</body>
</html>
